/**css-reset**/
body {
    background-image: url(Assests/background_2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FF003C;
}

.cyber-border {
    --aug-border: 5px;
    --aug-inset: 5px;
    --aug-border-bg: #FF003C;
    /**--aug-inset-bg: black;**/
    display: inline-block;
    padding: 10px;
    /* mind the gap */
    text-align: center;
}

.border {
    --aug-border: 1px;
}

/**header**/

header {
    height: 115px;
    width: 65%;
    background-image: url(Assests/header_2.gif);
    background-size: contain;
    margin-left: 33%;
    background-size: 100%;
}

/**nav bar**/

div.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 65%;
    margin-left: 33%;
    margin-top: 1%;
    --aug-inset-bg: black;
}

.nav-text {
    display: inline;
    color: #FF003C;
    font-family: Chakra Petch;
    font-size: 24px;
    margin-left: 10%;
    cursor: pointer;
}

.nav-text:hover {
    display: inline;
    color: white;
    font-family: Chakra Petch;
    font-size: 24px;
    margin-left: 10%;
    cursor: pointer;
}

/**hero-section**/

.hero-section {
    display: flex;
    margin-top: 1%;
    height: 80vh;
    margin-left: 33%;
    width: 66vw;
}

div.about {
    --aug-inset-bg: black;
    height: 80vh;
    width: 71%;
    margin-left: 25%;
}

div.scroll{
    height: 85%;
    width: 100%;
    overflow: scroll;
}


div.links {
    --aug-inset-bg: black;
    height: 80vh;
    width: 22%;
    margin-left: -98%
}

h1 {
    color: white;
    font-family: Chakra Petch;
    text-align: left;
    margin-left: 5px;
}

p {
    color: white;
    font-family: Chakra Petch;
    text-align: left;
    margin-left: 5px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 600px;
    margin-left: 5px;
}

.image-container img {
    max-width: 30%;
    max-height: 200px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.links p {
    font-weight: bold;
}

.date {
    color: #FF003C;
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.update-item {
    font-size: 15px;
    margin-top: 0px;
}

.links a {
    text-decoration: none;
    color: white;
    font-family: Chakra Petch;
}

.links a:hover {
    text-decoration: none;
    color: #FF003C;
    font-family: Chakra Petch;
}

.pfp {
    background-size: cover;
    height: 100%;
}

.pfp-div {
    height: 20%;
    width: 60%;
    margin: 10px;
}

.hotlinks{
    margin-top: 10px;
}